#wineBox{
    display: flex;
    flex-direction: column;
border: 1px solid rgb(165, 135, 135);
border-radius: 20px;
width: 160px;
height: 200px;
padding: 50px;

}

#winePic{
border-radius: 20px;
align-self: flex-start;
}
#wineFacts{
align-self: flex-end;
}