@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#about {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 480px) {

    #aboutStyle { display: none; }
        
    #drinkerStyle {background-color: lightgreen;}
  }